{% extends 'base.html' %}

{% block contents %}

    <div class="container" id="HomePage">
        <div class="jumbotron">
            <h1 class="display-4">Hi baby This is my cool space website</h1>
            <p class="lead">“There are risks and costs to action. But they are far less than the long-range risks of comfortable inaction.” John F Kennedy</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
            </p>
        </div>
    </div>
{% endblock %}